body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgb(60, 46, 46);
}
#container {
  background-image: url("https://images.pexels.com/photos/315998/pexels-photo-315998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
#container h1 {
  margin-bottom: 0;
}
#container p {
  margin-top: 5px;
}
#container .button {
  font-size: 25px;
  text-decoration: none;
  border: 1px solid rgb(60, 46, 46);
  border-radius: 10px;
  color: rgb(60, 46, 46);
  padding: 16px;
}
#container .button:hover {
  background-color: rgb(60, 46, 46);
  color: white;
}
#section1 {
  padding: 20px;
  background-color: rgb(60, 46, 46);
  color: white;
  text-align: center;
}
#section2 {
  padding: 20px;
  background-color: rgb(180, 173, 173);
  color: white;
  text-align: center;
}
#section3 {
  display: flex;
}
#section3 .box1,
#section3 .box3 {
  background-color: rgb(60, 46, 46);
  color: white;
}
#section3 div {
  padding: 20px;
}
#section3 .box2{
  background-color: rgb(202, 192, 192);
  color: white;
